<!DOCTYPE html>

<html>
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>ABC Banking</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ABC Bank</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html"
              >Customer Management <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Customer Account Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Update Account</a>
              <a class="dropdown-item" href="#">Update Account Balance </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Delete Account</a>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <br /><br />
    <div class="container">
      {% if name %}
      <p>Welcome Mr. {{ name }}!</p>
      {% endif%}
      <div class="col md-6">
      <h1>Register</h1>
      
        <form class="form-section" action="/" method="POST">
          <div class="form-group">
            <label>Full Name</label>
            <input type="" class="form-control" name="fname" />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" />
          </div>
          <div class="form-group">
            <label for="phone">Phone </label>
            <input type="number" maxlength="10" class="form-control" id="email" />
          </div>

          <div class="checkbox">
            <label><input type="checkbox" /> Remember me</label>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
  </body>
</html>
